# Welcome To the First Session of First Chapter: Python Tutoiral :)
* __*Tutor: Mohammad Akradi*__

We are at the first chapter of scripting tutorial. in this chapter we will learn how to work with these subjects:
* Python basis
* Data Visualization in Python
* Data Manupulation in Python
* Batch scripting
* BrainLife
* Bash scripting
* cli and BrainLife

### Section 1
  #### Prerequisites:
  * checking python interpreter version
  * installing pip
  * installing packages with pip
  * checking installed packages
  * importing packages
  * data types

In [1]:
## Checking python interpreter version

!python --version

Python 3.8.10

In [3]:
from platform import python_version

print(python_version())

3.8.10

In [4]:
## installing pip

!curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
!python get-pip.py
!pip --version

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1892k  100 1892k    0     0   659k      0  0:00:02  0:00:02 --:--:--  659k
WARNING: Ignoring invalid distribution -andas (/home/mohammad/DataScience/DataScience/lib/python3.8/site-packages)
WARNING: Ignoring invalid distribution -andas (/home/mohammad/DataScience/DataScience/lib/python3.8/site-packages)
Collecting pip
  Using cached pip-21.1.3-py3-none-any.whl (1.5 MB)
WARNING: Ignoring invalid distribution -andas (/home/mohammad/DataScience/DataScience/lib/python3.8/site-packages)
Installing collected packages: pip
  Attempting uninstall: pip
    WARNING: Ignoring invalid distribution -andas (/home/mohammad/DataScience/DataScience/lib/python3.8/site-packages)
    Found existing installation: pip 21.1.3
    Uninstalling pip-21.1.3:
      Successfully uninstalled pip-21.1.3
WARNING: Ignoring invalid distribution -andas (/home/mohammad/DataScience/DataScience/lib/python3.8/site-packages)
Successfully installed pip-21.1.3
WARNING: Ignoring invalid distribution -andas (/home/mohammad/DataScience/DataScience/lib/python3.8/site-packages)
WARNING: Ignoring invalid distribution -andas (/home/mohammad/DataScience/DataScience/lib/python3.8/site-packages)
pip 21.1.3 from /home/mohammad/DataScience/DataScience/lib/python3.8/site-packages/pip (python 3.8)

In [5]:
## installing packages with pip

!pip install numpy

WARNING: Ignoring invalid distribution -andas (/home/mohammad/DataScience/DataScience/lib/python3.8/site-packages)
WARNING: Ignoring invalid distribution -andas (/home/mohammad/DataScience/DataScience/lib/python3.8/site-packages)
Requirement already satisfied: numpy in /home/mohammad/DataScience/DataScience/lib/python3.8/site-packages (1.19.4)
WARNING: Ignoring invalid distribution -andas (/home/mohammad/DataScience/DataScience/lib/python3.8/site-packages)
WARNING: Ignoring invalid distribution -andas (/home/mohammad/DataScience/DataScience/lib/python3.8/site-packages)
WARNING: Ignoring invalid distribution -andas (/home/mohammad/DataScience/DataScience/lib/python3.8/site-packages)

In [6]:
## Checking installed packages
import numpy as np
print(np.__version__)

1.19.4

In [11]:
## importing packages

import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt
from matplotlib import pyplot as plt

In [15]:
## Data types
p = np.pi
num = 2
c = 'character'
lst = ['a', 3, 'b']

In [16]:
p

3.141592653589793

In [19]:
ans = num+1.5
ans

3.5

In [21]:
c+' space*'

'character space*'

### Section 2
#### "if" statements and "for" loops

In [29]:
statement_d = 4
if statement_d < 4:
    print("statement_d is lower than 4")
elif statement_d > 4:
    print("stataement_d is greater than 4")
elif statement_d == 4:
    print("statement_d is equal to 4")

statement_d is equal to 4

In [24]:
## Boolean variables

statement_a = True

if statement_a:
    print("statement_a is True")
if not statement_a:
    print("statement_a is False")

statement_a is True

In [23]:
statement_b = False

if statement_b:
    print("statement_b is True")
if not statement_b:
    print("statement_b is False")

statement_b is False

In [26]:
statement_c = False
if statement_c:
    print("statement_c is True")
else:
    print("statement_c is False")

statement_c is False

In [34]:
for i in range(5):
    print(i)

0
1
2
3
4

In [37]:
for i in range(30):
    if i%5 == 0:
        print(i)
    print('counter: ', i)

0
counter:  0
counter:  1
counter:  2
counter:  3
counter:  4
5
counter:  5
counter:  6
counter:  7
counter:  8
counter:  9
10
counter:  10
counter:  11
counter:  12
counter:  13
counter:  14
15
counter:  15
counter:  16
counter:  17
counter:  18
counter:  19
20
counter:  20
counter:  21
counter:  22
counter:  23
counter:  24
25
counter:  25
counter:  26
counter:  27
counter:  28
counter:  29

In [44]:
iterator = np.arange(3, 15, 2)
iterator

array([ 3,  5,  7,  9, 11, 13])

In [42]:
for it in iterator:
    print(it)

3
5
7
9
11
13

In [41]:
for i in range(3, 15, 2):
    print(i)

3
5
7
9
11
13

### Section 3
#### Import data and data visualization

In [45]:
## importing sample datasets

import seaborn as sns

iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [47]:
iris.shape

(150, 5)

In [50]:
## reading dataset from system using pandas library
import pandas as pd

local_iris = pd.read_csv('iris.csv')
local_iris.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0           0           5.1          3.5           1.4          0.2  setosa
1           1           4.9          3.0           1.4          0.2  setosa
2           2           4.7          3.2           1.3          0.2  setosa
3           3           4.6          3.1           1.5          0.2  setosa
4           4           5.0          3.6           1.4          0.2  setosa

In [56]:
iris.to_csv('iris.csv')

### End of Session 1

*****

In [ ]:
## visualize data

from matplotlib import pyplot as plt
from matplotlib import style

In [ ]:
local_iris['sepal_length'].plot()
plt.show()

In [ ]:
style.use('ggplot')

local_iris['sepal_length'].plot()
plt.show()

In [ ]:
plt.plot('sepal_length', 'sepal_width', data = local_iris)
plt.show()

In [ ]:
plt.scatter('sepal_length', 'sepal_width', data = local_iris)
plt.show()

In [ ]:
plt.scatter('sepal_length', 'sepal_width', data = local_iris)
plt.xlabel("sepal_length")
plt.ylabel("sepal_width")
plt.show()

In [ ]:
plt.scatter('sepal_length', 'sepal_width', data = local_iris, alpha = 0.5)
plt.xlabel("sepal_length")
plt.ylabel("sepal_width")
plt.title("iris sepal scatter plot")
plt.show()

In [ ]:
plt.scatter('sepal_length', 'sepal_width', data = local_iris, alpha = 0.5, label = 'sepal')
plt.scatter('petal_length', 'petal_width', data = local_iris, alpha = 0.5, label = 'petal')
plt.xlabel("length")
plt.ylabel("width")
plt.title("Title")
plt.legend(loc = 'upper left')
plt.show()

In [ ]:
ax1 = plt.subplot2grid((10, 1), (0, 0), rowspan=5, colspan=1) ## 10 rows and 1 column
ax2 = plt.subplot2grid((10, 1), (5, 0), rowspan=5, colspan=1) ## sharing axes

ax1.scatter('sepal_length', 'sepal_width', data = local_iris, alpha = 0.5, label = 'sepal', c = 'blue')
ax2.scatter('petal_length', 'petal_width', data = local_iris, alpha = 0.5, label = 'petal')

ax2.set_xlabel("Length")

plt.ylabel("Width")

ax1.set_ylabel("Width")

plt.show()

In [ ]:
## interactive plots
%matplotlib notebook 
#%matplotlib inline

ax1 = plt.subplot2grid((10, 1), (0, 0), rowspan=5, colspan=1) ## 10 rows and 1 column
ax2 = plt.subplot2grid((10, 1), (5, 0), rowspan=5, colspan=1) ## sharing axes

ax1.scatter('sepal_length', 'sepal_width', data = local_iris, alpha = 0.5, label = 'sepal', c = 'blue')
ax2.scatter('petal_length', 'petal_width', data = local_iris, alpha = 0.5, label = 'petal')

ax2.set_xlabel("Length")

plt.ylabel("Width")

ax1.set_ylabel("Width")

plt.show()

In [ ]:
ax1 = plt.subplot2grid((10, 1), (0, 0), rowspan=5, colspan=1) ## 10 rows and 1 column
ax2 = plt.subplot2grid((10, 1), (5, 0), rowspan=5, colspan=1, sharex=ax1) ## sharing axes

ax1.scatter('sepal_length', 'sepal_width', data = local_iris, alpha = 0.5, label = 'sepal', c = 'blue')
ax2.scatter('petal_length', 'petal_width', data = local_iris, alpha = 0.5, label = 'petal')

ax2.set_xlabel("Length")

plt.ylabel("Width")

ax1.set_ylabel("Width")

plt.show()

### Section 4
#### Data Manipulation

In [ ]:
local_iris.head()

In [ ]:
## Dropping a column

df = local_iris.drop(columns='Unnamed: 0')
df.head()

In [ ]:
## showing a variable levels

df['species'].unique()

In [ ]:
## dataframe information

df.info()

In [ ]:
## dataframe describtion

df.describe()

In [ ]:
## creating a new column

df.insert(0, 'Column_a', np.nan)
df.head()

In [ ]:
if not 'Column_a' in df:
    df.insert(0, 'Column_a', np.nan)

df.head()

In [ ]:
df['Column_b'] = np.nan
df.head()